<!--Assignment 1 The Profile -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-page Website</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <style>

    </style>
</head>
<body><nav>
    <a href="#page1">Home</a>
    
</nav>

<div class="content">
    <div id="page1" class="page">
        <div>
            <img src="/public/images/my_img.jpg"></img>
        </div>
        <h2>Jil Patel</h2>
        <p>Info About Jil</p>
       
    </div>

    
</div>
<footer>
    <div class="footer-content">
        <div class="footer-social-icons">
            <a href="#"><img src="https://img.icons8.com/color/48/000000/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="https://img.icons8.com/color/48/000000/twitter.png" alt="Twitter"></a>
            <a href="#"><img src="https://img.icons8.com/color/48/000000/instagram-new--v1.png" alt="Instagram"></a>
            <a href="#"><img src="https://img.icons8.com/color/48/000000/linkedin.png" alt="LinkedIn"></a>
        </div>
    </div>
</footer>
</body>
</html>
