<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/styleContact.css' />
  </head>
  <body>
    {{{body}}}
     <h1>Contact Details</h1>
    <p>My GitHub: <a href="https://github.com/jil07">jil07</a></p>
    <p>Instagram: <a href="https://www.instagram.com/jil_1473/?igshid=OGQ5ZDc2ODk2ZA%3D%3D">jil_1473</a></p>
    <p>Facebook: <a href="https://www.facebook.com/profile.php?id=100079880785759&mibextid=ZbWKwL"> facebook</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/jil-patel-669389291/">Jil</a> </p>
  </body>
</html>
