body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #195f7a;
    color: hsl(0, 5%, 93%);
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 0px 50px;
}

nav a:hover {
    background-color: #555;
}

.content {
    padding: 20px;
}

.page {
    display: none;
}

.page:target {
    display: block;
}


footer {
    background-color: #7a1b1b;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content p {
    margin: 0;
}

.footer-social-icons {
    margin-left: 10px;
}

.footer-social-icons a {
    color: #3a18b8;
    text-decoration: none;
    margin: 0 5px;
}   