<!DOCTYPE html>
<html>
<head>
    <title>Batman</title>
</head>
<body>
    <%- include('header') %>
    <h1>The Batman</h1>
    <!-- The Batman of the gotham city -->
    <p> The Gotham City is protected with the strong royal protectot which comes at night name is batman.</p>
</body>
</html>
