<!DOCTYPE html>
<html>
<head>
    <title>Captain America</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <%- include('header') %>
    <h1>The Winter Soldier</h1>
    <!-- adding info about cap america -->
     <p>After injecting the super sirup steve rogers become captain america the Winter Soldier </p>
</body>
</html>
