<!DOCTYPE html>
<html>
<head>
    <title>---Deadpool---</title>
</head>
<body>
    <%- include('header') %>
    <h1>The unkillable</h1>
    <!-- information about deadpool -->
    <h2>_+_+_+_+_+_+_+_ Deadpool _+_+_+_+_+_+_+_
    </h2>
    <p>The deadpool is the only hero whoes super power comes because of disease.leading DC as well as MCU single handedly.</p>
</body>
</html>
