<header>
    <nav>
        <ul>
            <li><a href="/ironman">ironman</a></li>
            <li><a href="/deadpool">deadpool</a></li>
            <li><a href="/captainAmerica">captainAmerica</a></li>
            <li><a href="/batman">batman</a></li>
        </ul>
    </nav>
</header>
