<!DOCTYPE html>
<html>
<head>
    <title>Iron man</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <%- include('header') %>
    <h1>The Invincible </h1>
    <!-- Some Information about iron man -->
    <h2>Iron Man / Tony Stark</h2>
    <p>Tony Stark is a very clever scientist and Genius who build his own AI assistant called Jarves who is capable to run his whole empire and suit by his own intelligence  </p>

</body>
</html>
